* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #292738;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#content {
  display: flex;
  gap: 3.2rem;
  margin-top: 6rem;
}

#card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem 4.8rem;
  gap: 3.2rem;
  width: 29.6rem;
  height: 37.9rem;
  background-color: #363447;
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
}

#card-1 p, #card-2 p,
#card-3 p, #card-4 p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;
  color: #FFFFFF;
}

#card-1 .card-emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 12.2rem;
  height: 19.7rem;
}

#card-1 .card-emoji p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;
  color: #81FBB8;
}

#card-1 .card-info .card-info-text span,
#card-2 .card-info .card-info-gray span,
#card-2 .card-info .card-info-purple span,
#card-3 .card-info .card-info-gray span, 
#card-3 .card-info .card-info-orange-pink span,
#card-4 .statistics .statistics-text span,
#card-4 .statistics .statistics-graphic .graphic .week span  {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 160%;
  color: #FFFFFF;
}

#card-1 span strong {
  font-weight: 400;
}

#card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem 4.8rem;
  gap: 3.2rem;
  width: 35.1rem;
  height: 37.9rem;
  background-color: #363447;
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  position: relative;
}

#card-2 .card-circle-01 .percentage {
  position: absolute;
  left: 14.1rem;
  top: 15.6rem;
  text-align: center;
}

#card-2 .card-circle-01 .percentage p,
#card-3 .card-circle-02 .percentage p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  color: #FFFFFF;
}

#card-2 .card-circle-01 .percentage p span,
#card-3 .card-circle-02 .percentage p span{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 160%;
  color: #FFFFFF;
}

#card-1 .card-info,
#card-2 .card-info,
#card-3 .card-info {
  display: flex;
  gap: 1.5rem;
}

#card-2 .card-info .card-info-gray,
#card-2 .card-info .card-info-purple,
#card-3 .card-info .card-info-gray,
#card-3 .card-info .card-info-orange-pink {
  display: flex;
  gap: 0.4rem;
} 

#card-1 .card-info strong,
#card-2 .card-info strong,
#card-3 .card-info strong {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 160%;
  color: #FFFFFF;
}

#card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem 4.8rem;
  gap: 3.2rem;
  width: 40.9rem;
  height: 37.9rem;
  background-color: #363447;
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  position: relative;
}

#card-3 .card-circle-02 .percentage {
  position: absolute;
  left: 16.8rem;
  top: 15.6rem;
  text-align: center;
}  

#card-4 {
  display: flex;
  flex-direction: column;
  padding: 2.9rem 4.8rem;
  gap: 3.2rem;
  width: 112rem;
  height: 31.4rem;
  background-color: #363447;
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  margin-bottom: 6rem;
}

#card-4 .statistics {
  display: flex;
  width: 102.4rem;
  height: 18.6rem;
  gap: 3.2rem;
}
  
#card-4 .statistics .statistics-text {
  width: 46.9rem;
  height: 16.8rem;
}

#card-4 .statistics .statistics-text p {
  font-weight: 500;
}

#card-4 .statistics .statistics-text .statistics-info-01 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 3.2rem;
}

#card-4 .statistics .statistics-text .statistics-info-02 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#card-4 .statistics .statistics-graphic {
  display: flex;
  align-items: center;
  width: 52.3rem;
  height: 18.6rem;
  position: relative;
}

#card-4 .statistics .statistics-graphic .graphic {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 52.3rem;
  height: 18.6rem;
}

#card-4 .statistics .statistics-graphic .graphic .week {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}